dist
node_modules

*.LICENSE.txt
/tests/manual/*.js

*.log
*-report.json
*.run.json
tslint.json
*.tsbuildinfo

.vs
.vscode
.idea
.project
.env
.npm
.eslintcache
.cache
.grunt

.DS_Store
thumbs.db

sessions
workspace.xml

*.tgz


