<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<title>Preview Page</title>
</head>

<body>
	<div id="root">
		<div
			style="display: grid; gap: 0.5em; grid-template-columns: repeat(2, minmax(10px, 1fr)); border: thin solid orange;">

			<img style="border: thin solid blue" src="https://craftinginterpreters.com/image/chunks-of-bytecode/ast.png"
				alt="AST" />
			<img style="border: thin solid blue"
				src="https://www.digitalocean.com/_next/static/media/default-avatar.14b0d31d.jpeg" alt="Avatar" />
			<div style="border: thin solid blue">Some sample text</div>
			<button>A button</button>

		</div>
	</div>

</body>

</html>