name: Default

on:
  push:
  #   branches: [ dev ]
  pull_request:
  # branches: [ dev ]
    types: ['synchronize']

jobs:
  checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with: 
          persist-credentials: false

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: npm ci --no-audit --prefer-offline
        
      - name: Build
        run: npm run compile --if-present
        
      - name: Run Lint Check
        run: npm run lintci
        continue-on-error: true
        
      - name: Run Test Check
        run: npm run testci
        continue-on-error: true
         
      - name: Annotate code checks
        uses: agyemanjp/ci-checks-action@v2.1.1
        with:
          ghToken: "${{ secrets.GITHUB_TOKEN }}"
          checks: '[
              {
                "name": "lint",
                "fileName": ".lint.run.json",
                "prChangesOnly": true
              },
              {
                "name": "test",
                "fileName": ".test.run.json",
                "prChangesOnly": false
              }
            ]'
        
     